.col1{width: 285px; position: relative; float: left;}
.col2{width: 140px; position: relative; float: left;}
.col3{width: 250px; position: relative; float: left;}
.col4{width: 242px; position: relative; float: left;}
.col5{width: 242px; position: relative; float: left;}
.col6{width: 200px; position: relative; float: left;}
.col7{width: 332px; position: relative; float: left;}
.col8{width: 270px; position: relative; float: left;}
.col9{width: 612px; position: relative; float: left;}
.col10{width: 270px; position: relative; float: left;}
.col11{width: 325px; position: relative; float: left;}
.col12{width: 550px; position: relative; float: left;}
.col13{width: 700px; position: relative; float: left;}
.padBot1{padding-bottom: 26px;}
.padBot2{padding-bottom: 10px;}
.padBot3{padding-bottom: 33px;}
.padBot4{padding-bottom: 22px;}
.padBot5{padding-bottom: 23px;}
.padBot6{padding-bottom: 30px;}
.padBot7{padding-bottom: 29px;}
.padBot8{padding-bottom: 46px;}
.padBot9{padding-bottom: 12px;}
.padBot10{padding-bottom: 4px;}
.padBot11{padding-bottom: 1px;}
.padRight1{padding-right: 40px;}
.padRight2{padding-right: 35px;}
.padRight3{padding-right: 30px;}
.magRight1{margin-right: 40px;}
.magRight2{margin-right: 38px;}
.magRight3{margin-right: 39px;}
.magRight4{margin-right: 33px;}
.magTop1{margin-top: 32px;}
.magTop2{margin-top: 10px;}
.magTop3{margin-top: 25px;}
.magTop4{margin-top: 1px;}
.magBot1{margin-bottom: 20px;}
.magBot2{margin-bottom: 20px;}

